{% extends "recruits/base.html" %}


{% block content %}
<nav class="breadcrumb">
  <li><a class="breadcrumb-item" href="{% url 'questions:language-list' %}">Languages</a></li>
  <li><a class="breadcrumb-item" href="{% url 'questions:language-detail' framework.language.id %}">Frameworks</a></li>
  <li><span class="breadcrumb-item active">Questions</span></li>
</nav>
<br>
<div class='col-sm-10 col-sm-offset-1 jumbotron'>
{% if request.user.is_superuser %}
<a class='col-sm-2 pull-right' href='{% url 'questions:question-create' %}'>Add Question</a>
{% endif %}


  <h1 >Questions</h1>
  <br>
  <ul>
    {% for question in question_list %}
      <li><a href='{{ question.id }}'>{{ question.question_text }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
