{% extends "recruits/base.html" %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<!-- Main component for a primary marketing message or call to action -->
<!-- <div class="jumbotron">
  <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
</div> -->

{% block content %}

<br/>
<h1> {{ greeting }} </h1>
<br>
<br>
<br>
<br>
{% if request.user.is_authenticated and request.user.is_superuser %}
<a class='btn btn-primary pull-right col-sm-3' href='{% url "questions:question-list" %}' role='button'>Go To Questions</a>
<br>
<br>
<a class='btn btn-primary pull-right col-sm-3' href='{% url "recruits:profile-list" %}' role='button'>Go To Profile List</a>
{% elif request.user.is_authenticated %}
<a class='btn btn-primary pull-right col-sm-3' href='{% url "recruits:profile-list" %}' role='button'>Go To Profile List</a>
{% else %}
<a class='btn btn-primary pull-right col-sm-3' href='{% url "recruits:login" %}' role='button'>Go To Login Page</a>
{% endif %}

{% endblock %}
