{% extends "recruits/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extrahead %}

{% endblock %}



{% block content %}



<script type="text/javascript">
    $(function() {
        $('#skill').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: 'skilled'
        })
    })
</script>



                                                              <!-- /*<style type="text/css">
                                                                  .delete-row {
                                                                      margin-left:5px;
                                                                  }
                                                              </style>*/ -->



                                                            <!-- <script src="{% static 'js/jquery.min.js' %}"></script>
                                                            <script src="{% static 'js/jquery.formset.js' %}"></script>
                                                            <script>
                                                              $('#skill tbody tr').formset({
                                                                  addText: 'add skill',
                                                                  deleteText: 'remove'
                                                              });
                                                            </script>
 -->
</div>






<fieldset>

<div class='col-sm-4 col-sm-offset-4'>
  <h1>Profile</h1>
  <br>
  <br>
  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}


    {{ profile|crispy }}

    {{ skill.management_form }}
    {% for form in skill.forms %}
    {{ form.non_field_errors }}
    <table id="skill">
            <p>
            <tr>
              <td>
                <label for="skill">Skill :</label>
               {{ form.skill }}
              </td>
              <td>
                <label for="expnce">Experience (years) :</label>
               {{ form.exp }}
              </td>
                <!-- <td>{{ form.exp }}</td> -->
            </tr>
            </p>
            {% endfor %}
    </table>
    <br>
    <p>
    <input class='btn btn-primary' type='submit' value='Submit' />
    </p>

  </form>
</div>


</fieldset>

{% endblock %}
