{% extends "recruits/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extrahead %}

{% endblock %}



{% block content %}

<fieldset>

<div class='col-sm-4 col-sm-offset-3 custom-color'>
  <h1>Profile</h1>
  <br>
  <br>
  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}


    {{ profile|crispy }}

    {{ skill.management_form }}
    {% for form in skill.forms %}
    {{ form.non_field_errors }}
    <table id="skill">
            <p>
            <tr>
              <td>
                <label for="skill">Skill :</label>
               {{ form.skill }}
              </td>
              <td>
                <label for="expnce">Experience (years) :</label>
               {{ form.exp }}
              </td>
                <!-- <td>{{ form.exp }}</td> -->
            </tr>
            </p>
            {% endfor %}
    </table>
    <br>
    <p>
    <input class='btn btn-primary' type='submit' value='Submit' />
    </p>

  </form>
</div>


</fieldset>

{% endblock %}
