{% extends "recruits/base.html" %}
{% load static %}
<link type="text/css" rel="{% static 'css/detail.css' %}"></link>

<style>
{% block style %}{% endblock %}
</style>

{% block content %}
<div class='jumbotron'>
  <h4>Profile No.{{ profile.id }}</h4>
  <div class='col-sm-7 col-sm-offset-1'>
    <br>
    <br>
    <ul>
      <h3>Name : {{ profile.name }}</h3>
      <br>
      <p>Email : {{ profile.email }}</p>
      <p>Experience in Django (Years) : {{ profile.django_exp }}</p>
      <p>Experience in Other Frameworks (Years) : {{ profile.angular_exp }}</p>
      <!-- <p>Consultancy : {{ profile.consultancy }}</p> -->
    </ul>
  </div>
</div>
<div class='col-sm-4' style='background-color:black;height:300px'>

</div>
{% endblock %}
