{% extends "recruits/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extrahead %}

{% endblock %}



{% block content %}



<fieldset>

<div class='col-sm-4 col-sm-offset-4 custom-color'>
  <h1>Skills</h1>
  <br>
  <h4>Enter new skills here..</h4>
  <br>
  <form method='POST' action=''>{% csrf_token %}

    {{ formset.management_form }}
   <table border="0" cellpadding="1" cellspacing="2" width="100%">
    <tbody>
        {% for form in formset %}
        <tr>
           <td>
              {{ form|crispy }}
           </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <input class='btn btn-primary' type='submit' value='Submit' />

  </form>
</div>


</fieldset>

{% endblock %}
